body {
    background: rgb(18, 18, 36);
    color: white;
}
img {
    width: 200px;
    height: 200px;
    border: 5px solid rgb(167, 167, 110);
    border-radius: 10px;
}
.box img:hover {

 box-shadow: 0px 10px 50px rgb(252, 248, 10);
}
.container {
    margin-top: 100px;
    border: 2px solid orange;
    border-radius: 10px;
    padding: 50px 0px;
    
}
.container h1 {
    padding: 50px;
    text-align: center;
    border-bottom: 2px solid green;
    text-shadow: 6px 16px 19px white;
    animation: animate 5s linear infinite;
    font-weight: bold;
    
}
.box {
    display: flex;
    justify-content: space-around;
    padding: 50px 0px;
}

@keyframes animate {
    
    20%{
        text-shadow: 6px 5px 50px white;
    }
    40%{
        text-shadow: 6px 16px 19px white;
    }
    60% {
        text-shadow: 6px 5px 50px white;
    }
    80%{

        text-shadow: 6px 16px 19px white;
    }
    100%{
        text-shadow: 6px 5px 50px white;
    }
}

@media(max-width:700px){
    #fahim h1 {
        font-size: 20px !important;
    }
 img {
        width: 100px;
        height: 100px;
        border: 5px solid rgb(167, 167, 110);
        border-radius: 10px;
    }
    .box {
        padding: none;
    }
    .container {
        margin-top: 10px;
    }
    .container h1 {
        padding: 0px;
    }
}